.hidden{
	display:none;
}
.center{
	text-align: center;
}

header{
	background-color: #78A6D4;
	height: 240px;
}
section {
	margin:10px;
}
#btn-search{
	margin:10px;
}
#formcp input{
	width: 20%;
	min-width: 150px;
}
footer{
	background-color: #eeeeee;
	padding: 20px;
}
.formsection{
	padding:10px;
}
.headerlogo{
	width: 100px;
	height: 50px;
	background-color: red;


	text-align: left;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
.headertitle{
	padding: 10px;
	color: white;
	font-size: 16px;
	font-size: 34px;
}
.headermessage{
	padding: 10px;
	color: white;
}
.fromtext{
	font-size:18px;
}
