.hidden{
	display:none;
}
.center{
	text-align: center;
}

header{
	background-color: #2c3e50;
	height: 250px;
}
#content{
	height: 300px;
	padding-top: 20px;

}
footer{
	background-color: #eeeeee;
	padding: 20px;
	height: 120px;
}
section {
	margin:10px;
}
#btn-search{
	margin:10px;
	height: 60px;
	margin-top: 22px;
}
#formcp input{
	width: 20%;
	min-width: 150px;
}

.formsection{
	padding:10px;
}
#results{
	height:95%;
	padding: 10px;
}
.headerlogo{
	width: 100px;
	height: 50px;
	background-color: red;


	text-align: left;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
.headertitle{
	padding: 10px;
	color: white;
	font-size: 16px;
	font-size: 34px;
}
.headermessage{
	padding: 10px;
	color: white;
}
.fromtext{
	font-size:18px;
}
#list{
	height: 95%;
	width: 100%;
	margin-top: 10px;
	overflow: auto;
}
#map{
	height: 400px;
	width: 500px;
	margin-top: 10px;
}
#btnback{
	float:right;
}
footer p{
	float:right;
}
span.glyphicon{
	margin-right: 5px !important;
}
#tableList tbody{
	overflow: auto;
}
